.form-main {
    display: grid;
    grid-template-columns: max-content 1fr; /* Column 1 fits label, Column 2 fills space */
    gap: 10px 20px; /* Space between rows and columns */
    align-items: center; /* Vertically center items */
    max-width: 500px;
  }
  .form-main button {
      grid-column: 1 / -1; /* span full width */
      margin-top: 20px;
    }
    .form-main select {
    width: 180px; 
  }
  .form-main-header{
    display: block;
  }

  .content-list{
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

  .content-list-header{
    display: none;
  }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        justify-content: center;
    }
    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }
    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active, .collapsible:hover {
        background-color: #555;
    }
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
}