<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="static/css/styles.css"
  >
    <meta charset="UTF-8">
    <title>Ticket Submission</title>
</head>

<body>
    <!--making tabs-->
    <div class="tab">
        <button class="tablinks" data-url="{{ url_for('ticketSubmission') }}" data-state="active">Ticket Submission</button>
        <button class="tablinks" data-url="{{ url_for('ticketList') }}" data-state="inactive">Ticket List</button>
    </div>

    <!-- make new class for this so it can dissapear on tab change-->
    <div class = form-main-header>
        <h1>Submit an IT support Ticket</h1>
    </div>
    <div class = content-list-header>
        <h1>It Ticket List</h1>
    </div>    
    
    
    <!-- Form to send data to Python -->
    <form class="form-main" action="submit" method="POST">
        <label for="name">Your Name</label>
        <input type="text" id="name" name="name">
        <label for="email">Your Email</label>
        <input type="text" id="email" name="email">
        <label for="department">Department</label>
        <select id=department name="department">
            <option value="sales"> Sales</option>
            <option value="HR"> HR</option>
            <option value="Finance"> Finance</option>
            <option value="Operations"> Operations</option>            
        </select>
        <label for="priority">Priority</label>
        <select id=priority name="priority">
            <option value="high"> High</option>
            <option value="medium"> Medium</option>
            <option value="low"> Low</option>
        </select>
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject">
        <label for="description">Description</label>
        <textarea onclick="this.setSelectionRange(0, 0);" id="description" name="description" rows="4" cols="50">
        </textarea>
        <button type="submit">Submit Ticket</button>
    </form>

    <script src="static/js/tabButton.js" defer></script>
</body>
</html>


<!--site for js and tab usage     https://www.w3schools.com/howto/howto_js_tabs.asp    -->

<!--use result variable to create new flag buttons, use js to create the buttons and use html to call the function in js-->