<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="static/css/styles.css"
  >
    <meta charset="UTF-8">
    <title>Ticket List</title>
</head>

<body>
     <!--making tabs-->
    <div class="tab">
        <button class="tablinks" data-url="{{ url_for('ticketSubmission') }}" data-state="inactive">Ticket Submission</button>
        <button class="tablinks" data-url="{{ url_for('ticketList') }}" data-state="active">Ticket List</button>
    </div>

    <h1>Ticket Submissions</h1>


<!--checks if there are any submissions-->
{% if result %}
  {% for ticket in result %}
    {% if ticket == currentTicket %}
      <button type= "button" class="collapsible" data-state="active">
        Priority: {{ ticket[3] }}, {{ticket[0]}}
      </button>
    {% else %}
      <button type= "button" class="collapsible" data-state="inactive">
        Priority: {{ ticket[3] }}, {{ticket[0]}}
      </button>
    {% endif %}
    <!--adds the discription to the drop down-->
    <div class= "content">
        <P>
            Department: {{ ticket[2] }}<br>
            Summary: {{ticket[4]}} <br><br>
            {{ticket[5]}}<br>

            Email: {{ticket[1]}}
        </P>
    </div>
  {% endfor %}

<!--if there are no submissions-->
{% else %}
  <p>No Tickets Submitted.</p>
{% endif %}
</body>


<script src="static/js/tabButton.js" defer></script>
<script src="static/js/collapsibleContent.js"></script>