<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="static/css/styles.css"
  >
    <meta charset="UTF-8">
    <title>Ticket List</title>
</head>

<body>
     <!--making tabs-->

    <div class="tab">
        <button class="tablinks" data-url="{{ url_for('ticketSubmission') }}" data-state="inactive">Ticket Submission</button>
        <button class="tablinks" data-url="{{ url_for('ticketList') }}" data-state="active">Ticket List</button>
    </div>

    <h1>Ticket Submissions</h1>

<!--checks if there are any submissions-->
{% if result %}
  <form class="ticket-wrapper" action = 'delete' method = 'POST'>
  {% for ticket in result %}
    {% if ticket == currentTicket %}
      <div class = "ticket-row">
      <input type = 'checkbox' class = 'check' id='checkbox' name= 'checkbox' value = {{ticket[0]}}>
      <button type= "button" class="collapsible" data-state="active">
        
      Priority: {{ ticket[4] }}, Name: {{ticket[1]}}
      </button>
      </div>
    {% else %}
        <div class = "ticket-row">
        <input type = 'checkbox' class = 'check' id='checkbox' name= 'checkbox' value = {{ticket[0]}}>
        <button type= "button" class="collapsible" data-state="inactive">
      
        Priority: {{ ticket[4] }}, Name: {{ticket[1]}}
        </button>
        </div>
      
    {% endif %}
  
    <!--adds the discription to the drop down-->
    <div class= "content">
        <P>
            Department: {{ ticket[3] }}<br>
            Summary: {{ticket[5]}} <br><br>
            {{ticket[6]}}<br><br>

            Email: {{ticket[2]}}
        </P>
    </div>
  
  {% endfor %}
  

  <button type="delete" id ='deleteButton' class="delete-button">Delete</button>

  </div>  
<!--if there are no submissions-->
{% else %}
  <p>No Tickets Submitted.</p>
{% endif %}
</body>


<script src="static/js/tabButton.js" defer></script>
<script src="static/js/collapsibleContent.js"></script>